@media screen and (max-width: 1600px) {
  .kate{
    display: none;
  }

  .navbar{
    margin-top:-35px;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;

}
}
@media screen and (max-width: 600px) {
#serb{
    width: 140px important;
    }
    .card{
        width: 300px !important;
    }

    .left-slides{
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .dropdown-menu>li>a>img {
      width: 5%;
    };
    .navbar{

        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 1;

    }
    .carousel{
        margin-top: 75px !important;
    }

    .absol{
        position:absolute !important; ;
    }
    .yazisi{
        position: absolute;
         top:50% !important; 
         left:8% !important;
    }
    .yazisin{
        font-size: 20px;
        border-radius: 40px 0px 40px 40px;
        background-color: #fa4b4b4f;
        width: 80%;
    }
}
    
@media screen and (min-width: 600px) {
    

  .navbar{
    position: fixed !important;
    background-color: rgb(255, 255, 255) !important;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

#serb{
    width: 100%;
    }

}


.col-sm-6 {
margin-top: 20px;
margin-bottom: 20px;
}


@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


:root{
    --primary-color : #1dd1a1;
    --active-color : #2ecc71;

}



.slider-container{
    height: 75vh;
    width: 100%;
    overflow: hidden;
    position: relative; 
    color: #fff;
}

.left-slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}


.right-slides{
    position: absolute;
    left: 35%;
    top: 0;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.left-slides > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-slides h3{
    font-size: 3rem;
    margin-bottom: 10px;
}

.left-slides p{
    font-size: 1.5rem;
}

.right-slides > div{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{

}

.slider-container button{
    position: absolute;
    left: 35%;
    top: 50%;
    font-size: 1.5rem;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #444;
}

button:hover{
    opacity: 0.9;
}

button:focus{
    outline: none;
}

.slider-container .left-btn{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.slider-container .right-btn{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* footer */

.site-footer
{
    margin-top: 20px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#f15c5c
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}